<template>
    <div class="admin-container">
        <h1>Administration</h1>
        <h2>Palette de Couleurs</h2>
        <ColorPalette />
    </div>
</template>

<script setup>
import ColorPalette from '@/components/ColorPalette.vue';
</script>

<style lang="scss" scoped>
.admin-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h2 {
    align-self: flex-start;
    margin-top: 60px;
    margin-left: 80px;
}
</style>