<template>
    <div class="page-container">
        <div id='color1-container' class="container">
            <div class="text color1-text">texte 1</div>
            <div class="text color2-text">texte 2</div>
            <div class="text color3-text">texte 3</div>
            <div class="text color4-text">texte 4</div>
        </div>
        <div id='color2-container' class="container">
            <div class="text color1-text">texte 1</div>
            <div class="text color2-text">texte 2</div>
            <div class="text color3-text">texte 3</div>
            <div class="text color4-text">texte 4</div>
        </div>
        <div id='color3-container' class="container">
            <div class="text color1-text">texte 1</div>
            <div class="text color2-text">texte 2</div>
            <div class="text color3-text">texte 3</div>
            <div class="text color4-text">texte 4</div>
        </div>
        <div id='color4-container' class="container">
            <div class="text color1-text">texte 1</div>
            <div class="text color2-text">texte 2</div>
            <div class="text color3-text">texte 3</div>
            <div class="text color4-text">texte 4</div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ColorPalette"
}
</script>

<style lang="scss">
@import '@/styles/colors-dark.scss';
@import '@/styles/colors-light.scss';
</style>


<style lang="scss" scoped>
.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    width: 100px;
    height: 200px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#color1-container {
    background: var(--color-1);
}

#color2-container {
    background: var(--color-2);
}

#color3-container {
    background: var(--color-3);
}

#color4-container {
    background: var(--color-4);
}

.color1-text {
    color: var(--color-1);
}

.color2-text {
    color: var(--color-2);
}

.color3-text {
    color: var(--color-3);
}

.color4-text {
    color: var(--color-4);
}
</style>