<template>
    <header v-bind:class=" [folded ?'folded': '' ] ">
        <Transition name="fade">
            <div v-if="!folded" id="remi">Rémi TAUVEL</div>
        </Transition>

        <nav>
            <ul>
                <li><router-link class="menu-item" :to="{ name: 'about' }"><span class="router-link-icon"><i class="fa-solid fa-user"></i></span><span class="router-link-text" v-show="!folded">About</span></router-link></li>
                <li><router-link class="menu-item" :to="{ name: 'portfolio' }"><span class="router-link-icon"><i class="fa-solid fa-image"></i></span><span class="router-link-text" v-show="!folded">Portfolio</span></router-link></li>
                <li><router-link class="menu-item" :to="{ name: 'resume' }"><span class="router-link-icon"><i class="fa-solid fa-file"></i></span><span class="router-link-text" v-show="!folded">CV</span></router-link></li>
                <li><router-link class="menu-item" :to="{ name: 'admin' }"><span class="router-link-icon"><i class="fa-solid fa-screwdriver-wrench"></i></span><span class="router-link-text" v-show="!folded">Admin</span></router-link></li>
                
            </ul>
        </nav>

        <div class="toggles-container">
            <div id="darkmode-container" class="nav-toggle-container">
                <div class="toggle-label"><i class="fa fa-sun"></i>/<i class="fa fa-moon"></i></div>
                <Toggle storeName="darkmode" />
            </div>
            <div id="language-selector-container" class="nav-toggle-container">
                <div id="language-label"><i class="fa-solid fa-language"></i></div>
                <Toggle storeName="laguageIsNotFrench" />
            </div>
        </div>
        <div class="wide-menu-container">
            <div @click="toggleFoldMenu()">
                <i v-if="folded" class="fa-solid fa-circle-chevron-right"></i>
                <i v-else class="fa-solid fa-circle-chevron-left"></i>
            </div>
        </div>
    </header>
</template>

<script>
import Toggle from "@/components/Toggle.vue"
export default {
    name: "Navigation",
    components: {
        Toggle,
    },
    data() {
        return {
            folded: false,
        }
    },
    methods: {
        toggleFoldMenu() {
            this.folded = !this.folded
        }
    },

};
</script>

<style scoped>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-button);
    left: 0px;
    position: fixed;
    width: 25vw;
    height: 100%;
    transition: width .5s;
}

header.folded{
    width: 120px;
    transition: width .5s;
}

nav {
    flex-grow: 8;
}

#remi {
    flex-grow: 2;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li {
    margin: 20px 0;
    text-decoration: none;
}


.menu-item,
#remi {
    text-decoration: none;
    color: var(--primary);
    font-size: xx-large;
    font-weight: bold;
}

.active-link {
    border-bottom: solid 0.25em tomato;
}

.exact-active-link {
    border-bottom: solid 0.25em green;
}

.toggles-container {
    display: flex;
    flex-flow: column nowrap;
}

.nav-toggle-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: top;
    margin: 10px 0;
}

.router-link-icon{
    padding-right:.7em;
}

i{
    font-size: xx-large;
}

</style>