<template>
    <div class="single-toggle-container">
        <div id="{{ storeName }}-toggle" @click="toggle(storeName)" :class="{
            'outer-switch': true,
            'outer-switch-on': value,
            'outer-switch-off': !value,
        }">

            <div :class="{
                'inner-switch': true,
                'inner-switch-left': value,
                'inner-switch-right': !value,
            }">
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "Toggle",
    data() {
        return {
            value: false,
        }
    },
    props: {
        storeName: String,
    },
    methods: {
        toggle(storeName) {
            this.value = !this.value
            localStorage.setItem(storeName, !this.value)
            document.documentElement.setAttribute(storeName, !this.value)
        },
        setToggle(payload) {
            this.value = payload
            document.documentElement.setAttribute(this.storeName, payload)
        }
    },
    mounted() {
        this.setToggle(localStorage.getItem(this.storeName))
    },
}
</script>

<style lang="scss">
@import '@/styles/colors-dark.scss';
@import '@/styles/colors-light.scss';
</style>

<style lang="scss" scoped>
.single-toggle-container {
    position: relative;
}

.outer-switch {
    height: 34px;
    width: 70px;
    border-radius: 17px;
    background: rgb(212, 212, 212);
    cursor: pointer;
    position: relative;
}

.outer-switch-on {
    background: rgb(212, 212, 212);
    transition: background 0.4s;
}

.outer-switch-off {
    background: rgb(212, 212, 212);
    transition: background 0.4s;
}

.inner-switch {
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
}

.inner-switch-left {
    top: 2px;
    left: 2px;
    background: rgb(226, 26, 26);
    transition: left 0.4s;
}

.inner-switch-right {
    top: 2px;
    left: 38px;
    background: rgb(0, 202, 51);
    transition: left 0.4s;
}
</style> 