<template>
  <div class="app-container">
    <Navigation />
    <div class="router-container">
      <router-view />
    </div>
  </div>
</template>

<script setup>
import Navigation from './components/Navigation.vue'
</script>


<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-flow: row nowrap
}

Navigation {
  width: 25vw;
  height: 100vh
}

.router-container {
  position: absolute;
  margin-left: 25vw;
  width: 75vh;
}
</style>
